amqp==1.4.9
anyjson==0.3.3
billiard==3.3.0.23
bitsets==0.7.14
boto==2.49.0
boto3==1.9.42
botocore==1.12.42
bz2file==0.98
celery==3.1.26.post2
certifi==2018.10.15
chardet==3.0.4
Click==7.0
concepts==0.7.14
deep-merge==0.0.4
deltas==0.4.7
docopt==0.6.2
docutils==0.14
features==0.5.10
fileconfig==0.5.8
flake8==3.3.0
Flask==0.10.1
Flask-Jsonpify==1.5.0
flask-swaggerui==0.0.1
flask-wikimediaui==0.0.1
gensim==3.3.0
graphviz==0.10.1
idna==2.7
itsdangerous==1.1.0
Jinja2==2.10
jmespath==0.9.3
jsonable==0.3.1
kombu==3.0.37
MarkupSafe==1.1.0
mccabe==0.6.1
mmh3==2.3.1
more-itertools==2.2
mwapi==0.5.1
mwparserfromhell==0.5.2
mwtypes==0.3.0
mysqltsv==0.0.7
nltk==3.0.5
numpy==1.14.6
ores==1.2.1
py==1.7.0
pycodestyle==2.3.1
pyenchant==1.6.11
pyflakes==1.5.0
pytest==3.2.2
python-dateutil==2.7.5
pytz==2018.7
pywikibase==0.0.5
PyYAML==3.11
requests==2.20.1
revscoring==2.2.6
s3transfer==0.1.13
scikit-learn==0.19.2
scipy==1.0.1
six==1.11.0
smart-open==1.7.1
sseclient==0.0.19
stopit==1.1.2
tabulate==0.7.7
textstat==0.3.1
tqdm==4.15.0
urllib3==1.24.1
vine==1.1.4
Werkzeug==0.14.1
yamlconf==0.2.3
amqp==1.4.9
anyjson==0.3.3
billiard==3.3.0.23
bitsets==0.7.14
boto==2.49.0
boto3==1.9.42
botocore==1.12.42
bz2file==0.98
celery==3.1.26.post2
certifi==2018.10.15
chardet==3.0.4
Click==7.0
concepts==0.7.14
deep-merge==0.0.4
deltas==0.4.7
docopt==0.6.2
docutils==0.14
features==0.5.10
fileconfig==0.5.8
flake8==3.3.0
Flask==0.10.1
Flask-Jsonpify==1.5.0
flask-swaggerui==0.0.1
flask-wikimediaui==0.0.1
gensim==3.3.0
graphviz==0.10.1
idna==2.7
itsdangerous==1.1.0
Jinja2==2.10
jmespath==0.9.3
jsonable==0.3.1
kombu==3.0.37
MarkupSafe==1.1.0
mccabe==0.6.1
mmh3==2.3.1
more-itertools==2.2
mwapi==0.5.1
mwparserfromhell==0.5.2
mwtypes==0.3.0
mysqltsv==0.0.7
nltk==3.0.5
numpy==1.14.6
ores==1.2.1
py==1.7.0
pycodestyle==2.3.1
pyenchant==1.6.11
pyflakes==1.5.0
pylru==1.1.0
pytest==3.2.2
python-dateutil==2.7.5
pytz==2018.7
pywikibase==0.0.5
PyYAML==3.11
redis==2.10.6
requests==2.20.1
revscoring==2.2.6
s3transfer==0.1.13
scikit-learn==0.19.2
scipy==1.0.1
six==1.11.0
smart-open==1.7.1
sseclient==0.0.19
stopit==1.1.2
tabulate==0.7.7
textstat==0.3.1
tqdm==4.15.0
urllib3==1.24.1
vine==1.1.4
Werkzeug==0.14.1
yamlconf==0.2.3
